.container {
  padding: 4rem;
  margin: 1rem 0 0 0;
  justify-content: center;
}

.aboutOwnersContainer {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}

.text {
  font-size: 1.2rem;
  text-align: justify;
}

.aboutOwnersText {
  padding: 0 0 0 2rem;
  font-size: 1.2rem;
  text-align: justify;
}

.aboutOwnersHeader {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0 0 1rem 2rem;
}

.ownerImgContainer {
  display: flex;
  justify-content: center;
}

.ownerImg {
  box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
  border-radius: 3px;
}

.textContainer {
  display: flex;
  margin: 0 0 5rem 0;
}

.textImg {
  box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
  border-radius: 3px;
  max-height: 15rem;
}

.textImgContainer {
  display: flex;
  justify-content: center;
}

.aboutOwnersTextContainer {
  display: flex;
  flex-direction: column;
}

.signatureImg {
  max-height: 7rem;
  max-width: 10rem;
  margin-left: 2rem;
}

.mainHeader {
  width: 10rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  height: 4rem;
  border-bottom: 1px solid black;
  margin: 1rem 0 4rem 0;
}

.mainHeaderContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
