.container {
  position: fixed;
  top: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  z-index: 10;
  box-sizing: border-box;
  padding: 0.5rem;
}

.background {
  z-index: 9;
  position: fixed;
  top: 0;
  background-color: rgb(42, 81, 128);
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.innerContainer {
  max-width: var(--centralSpanWidth);
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0 0 0 2rem;
  max-width: 60%;
  flex-grow: 1;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  position: static;
}

.logo:hover {
  cursor: pointer;
}

.buttons {
  margin: 1rem;
  display: flex;
  align-items: center;
}

.burgerButton {
  display: unset;
  position: fixed;
  z-index: 12;
  right: 1rem;
  display: none;
  align-items: center;
}

a {
  text-decoration: unset;
  color: white;
}

a:hover {
  color: white;
}

.quoteButton {
  padding: 0 1rem 0 1rem;
  border-radius: 3px;
}

.quoteButton:active{
  opacity: 0.7;
}
