.navButton {
  margin: 1rem;
  border: none;
  font-size: 1.15rem;
  height: 3rem;
  background-color: white;
  border-radius: 0;
  text-decoration: none;
  background-image: linear-gradient(#ffffff, #ffffff);
  background-size: 0% 0.12em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
  padding: 0.1rem;
  background-color: transparent;
  color: white;
}

.navButton:hover,
.navButton:active {
  cursor: pointer;
  background-size: 100% 0.12em;
}
