body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --centralSpanWidth: 85rem;
}

.invertFilter {
  filter: invert(1);
  -webkit-filter: invert(1);
}

.alice-carousel__next-btn:hover {
  filter: grayscale(1) contrast(0);
}

.alice-carousel__prev-btn:hover {
  filter: grayscale(1) contrast(0);
}
