.calculatorOutputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.calculatorOutput {
  background-color: transparent;
  margin-top: 1rem;
  color: black;
  font-size: 1rem;
  text-transform: none;
  line-height: 1rem;

  display: flex;
  justify-content: space-between;
}

.outputItemContainer {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.outputItemOuterContainer {
  margin-bottom: 1.5rem;
}

.outputItemLabel {
  font-weight: bold;
}

.ouputItemQuantity {
  font-weight: bold;
}

.outputItemCapacities {
  font-size: 0.95rem;
  color: black;
  margin-top: 0.3rem;
}

.inputsContainer {
  display: flex;
}

.outputsInnerContainer {
  display: flex;
}
