.calculatorOutput {
  background-color: transparent;
  color: black;
  font-size: 1rem;
  text-transform: none;
  line-height: 1rem;

  display: flex;
  justify-content: space-between;
}

.outputItemContainer {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
}

.outputItemLabel {
  font-weight: bold;
}

.outputItemQuantity {
  font-weight: bold;
}

.outputItemCapacities {
  font-size: 0.74rem;
  color: black;
  margin-top: 0.3rem;
}

.inputsContainer {
  display: flex;
}

.outputsInnerContainer {
  display: flex;
}
