.heroContainer {
  display: flex;
  margin-top: 20rem;
  max-width: 80%;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  margin-top: -5rem;
  max-width: 50vw;
}

.header1 {
  font-size: 2.8rem;
  color: white;
  text-align: left;
}

.header2 {
  font-size: 3rem;
  color: white;
  font-weight: bold;
  text-align: left;
  border-bottom: 2px solid white;
  padding-bottom: 1rem;
}

.canadianOwnedImg {
  max-width: 8rem;
  height: 8rem;
  margin-top: -5rem;
  margin-right: 1rem;
}

.centralContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.headerServices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.servicesItem {
  color: white;
  margin: 1rem 1rem 0 1rem;
  font-size: 1.4rem;
}

.servicesDot {
  color: white;
  font-size: 5rem;
  height: 2rem;
  margin-top: -2.6rem;
}

.iconsContainer {
  width: 55rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1.5rem;
  background-color: transparent;
  position: relative;
  bottom: 1rem;
}

.iconContainer {
  display: flex;
  width: 20%;
  height: 4rem;
  flex-direction: column;
  align-items: center;
}

.iconContainer:hover {
  cursor: pointer;
  margin-top: -0.15rem;
}

.iconText {
  font-size: 1rem;
  text-align: center;
  margin-top: 0.5rem;
  font-weight: bold;
}

.iconImg {
  width: 3rem;
  height: 3rem;
}
