.iconsContainer {
  display: grid;
  grid-template: "a a" 50% "b b" 50%;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconImg {
  height: 8rem;
  padding: 2rem;
}
