.container {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;
  height: 100%;
}

.outerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.socialIconsContainer {
  display: flex;
  height: 5rem;
  width: 14rem;
  margin: 2rem 0 2rem 0;
  justify-content: space-between;
}

.socialIcon {
  height: 3.2rem;
}

.socialIcon:hover {
  cursor: pointer;
}

.socialIconContainer {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerLogo {
  padding: 3rem;
  box-sizing: border-box;
  width: 30%;
  box-sizing: border-box;
  min-width: 20rem;
}

.footerLogoImg {
  width: 100%;
}

.footerCopyright {
  width: 100%;
  font-size: 0.9rem;
  display: "flex";
  justify-content: center;
  color: rgb(121, 121, 121);
  margin: 7rem 0 2rem 0;
  text-align: center;
}
