.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
  margin-top: -3rem;
  background-color: white;
  border-bottom-right-radius: 3px;
}

.sidepanelContainer {
  width: 16.5rem;
  height: 100%;
  background-color: rgb(42, 81, 128);
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.sidepanelHeader {
  font-size: 1.2rem;
  color: white;
  margin: 2rem 0 2rem 0;
  text-transform: uppercase;
}

.sidepanelText {
  color: white;
  font-size: 0.95rem;
  line-height: 1.6rem;
}

.detailsForMobile {
  display: none;
}
