.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  padding: 3rem;
  margin-top: -4.5rem;
  background-color: white;
  border-bottom-right-radius: 3px;
}

.placeholderContent {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.sidepanelContainer {
  width: 6rem;
  height: 100%;
  background-color: rgb(42, 81, 128);
  color: white;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.quoteIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.sidebarLetter {
  font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: -0.5rem;
}
