.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  padding: 3rem;
  margin-top: -3rem;
}

.placeholderContent {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
