.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  padding: 3rem;
  margin-top: -3rem;
}

.simple {
  text-transform: uppercase;
  padding: 3rem;
  margin-top: 3rem;
}

.textAreaContainer {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.textArea {
  border: 1px solid rgb(191, 190, 190);
  border-radius: 3px;
  width: 100%;
  padding: 1.5rem 2rem 2rem 2rem;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}

.textArea:focus {
  border: 1px solid black;
}

textarea {
  resize: none;
}

.nonButtonContainer {
  overflow-y: scroll;
  mask-image: linear-gradient(
    to bottom,
    black calc(100% - 100px),
    transparent 100%
  );
}

.sidepanelContainer {
  width: 18rem;
  height: 100%;
  background-color: rgb(42, 81, 128);
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.sidepanelHeader {
  font-size: 1.2rem;
  color: white;
  margin: 2rem 0 2rem 0;
  text-transform: uppercase;
}

.sidepanelText {
  color: white;
  font-size: 0.95rem;
  line-height: 1.6rem;
}

.sidePanelContentsContainer {
  height: 100%;
  overflow-y: scroll;
}

.sendButton {
  background-color: transparent;
  box-shadow: none;
  font-size: 1.4rem;
  width: 100%;
  align-self: flex-start;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 20;
}

.selectInput {
  width: 100%;
  border: 1px solid transparent;
  padding: 0.8rem;
  border-radius: 2px;
  margin-top: 0.8rem;
  border-right: 1rem solid transparent;
  background-color: aliceblue;
  font-size: 1rem;
}

.selectFieldContainer {
  margin-bottom: 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: -1rem;
}

.datePickersOuterContainer {
  display: flex;
  margin-bottom: 2rem;
  flex-direction: column;
}

.datePickersContainer {
  display: flex;
}

.datePickersHeader {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.datePickerSpacer {
  width: 5%;
}
