.myButton {
  padding: 1rem;
  transition: opacity 0.17s linear;
  animation-timing-function: fade-in-out 1s;
  border-radius: 3px;
  border: none;
}

.myButton:hover {
  cursor: pointer;
  opacity: 0.5;
}
