.inputWrapper {
  margin: 0 0 0.5rem 0;
  width: 100%;
  box-sizing: border-box;
}

.inputSubtext {
  font-size: 0.65rem;
  color: rgb(80, 80, 80);
  font-weight: bold;
}

.checkboxWrapper {
  display: flex;
}

.checkBoxInput {
  margin-right: 0.4rem;
  zoom: 1.4;
}

.checkboxInputContainer {
  display: flex;
  align-items: flex-start;
  margin-top: 0.25rem;
}

.checkboxLabel {
  font-weight: bold;
}
