.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 900px){
  .container{
    height: 40rem;
  }
}
